node_modules/
www/
ios/App/Pods/
ios/App/App/public/
ios/App/output/
ios/DerivedData/
android/.gradle/
android/.idea/
android/app/build/
android/build/
android/capacitor-cordova-android-plugins/build/
android/local.properties
*.keystore
keystore.properties
